@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="padding-top:10px">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/Image/bg1.jpg" class="img-thumbnail center-cropped">
            </div>

         
            <div class="item">
                <img src="~/Content/Image/bg3.jpg" class="img-thumbnail center-cropped">
            </div>


            <div class="item">
                <img src="~/Content/Image/bg4.jpg" class="img-thumbnail center-cropped">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="mdi mdi-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="mdi mdi-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<style>
    .center-cropped {
        background-position: center center;
        background-repeat: no-repeat;
    }
</style>