<!-- Top Bar Start -->
            <div class="topbar">
                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="/" class="logo"><span>Vovinam</span><i class="mdi mdi-contrast-circle"></i></a>                   
                </div>
				<!-- END LOGO -->
				
                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">

                        <!-- Navbar-left -->
                        <ul class="nav navbar-nav navbar-left">
							<!-- button mobile -->
                            <li>
                                <button class="button-menu-mobile open-left waves-effect waves-light">
                                    <i class="mdi mdi-menu"></i>
                                </button>
                            </li>
							<!-- end button mobile -->			         
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div><!-- end container -->
                </div><!-- end navbar -->
				
            </div>
            <!-- Top Bar End -->